@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	background-image: url('/static/image/index_cover.png');/*我換了一個背景，大家也可以再找圖片*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #333;
    margin: 0;
	
}
.login-box{
    display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
	border-radius: 25px;
	background: rgba(0, 0, 0, 0.25); 
    backdrop-filter: blur(8px);
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box {
	display: flex;
    width: 100%; 
	align-items: center;
    margin-bottom: 20px; 
}
.input-box .icon {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9); 
	margin-right: 10px;
}
.input-field{
	width: 100%;
    flex: 1;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
	background: transparent; 
    border: none; 
    outline: none;
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 40px;
    background: #222;
	color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}
