<!-- home page (welcome page)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to 資料庫庫少, {{ username }}!</h1>
        <p>We're glad to have you here.</p>
    	<a href="{{ url_for('welcome', username='Guest') }}" class="action-btn">Go to Welcome Page</a>
	</div>

	<div>
        <a href="{{ url_for('history_routes.view_history') }}" class="action-btn">Check your HISTORY Records</a>
	</div>
	<div>
        <a href="{{ url_for('blacklist_routes.view_blacklist') }}" class="action-btn">Check your BLACKLIST Records</a>
    </div>

</body>
</html>

