<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>隨機推薦餐廳</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('welcome') }}" class="btn">Home</a></li>
            <li><a href="{{ url_for('history') }}" class="btn">History</a></li>
            <li><a href="{{ url_for('rating') }}" class="btn">Rating</a></li>
            <li><a href="{{ url_for('login') }}" class="btn">Logout</a></li>
        </ul>
    </nav>

    

    
</body>
</html>
